
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;600&display=swap');

* {
    font-family: 'Baloo Tamma 2', cursive;
    margin: 0;
    padding: 0;
    /* padding and border are included in the width and height: */
    box-sizing: border-box;
    /* no list marker */
    list-style: none;
    text-decoration: none;
}

.settings_navbar {
    display: flex;
    position: relative;
    background: var(--settings-nav-bg);
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 80px;
}

.settings_navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings_navbar ul li {
    padding: 12px 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.5s ease;
    cursor: pointer;
}

.settings_navbar_li {
    color: var(--settings-nav-li)
}

.settings_navbar_li:hover {
    color: var(--settings-nav-li-hover)
}

.settings_navbar_li_selected {
    color: var(--settings-nav-li-selected)
}


.settings_content {
    padding: 10px 0;
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background: var(--settings-content-bg);
    color: var(--settings-content-li);
}


#users_container ul li {
    display: flex;
    justify-content: center;
}

#users_container ul li div {
    padding-left: 10px;
}

#users_container ul li .name {
    width: 120px;
}

#users_container ul li .icon {
    cursor: pointer;
}

#datasources_container ul li {
    display: flex;
    justify-content: center;
}

#datasources_container ul li div {
    margin-left: 20px;
}

#datasources_container ul li .name {
    width: 150px;
}

#datasources_container ul li .url {
    width: 300px;
}

#datasources_container ul li .icon {
    cursor: pointer;
}

#addsource_btn {
    font-size: 20px;
    margin-top: 5px;
    cursor: pointer;
}