{% extends 'navigation.html' %}

{% block title %} {{ chart.name }} {% endblock %}

{% block content %}

    <!-- container pro graf -->
    <div class="chart_wrapper">
        <span class="chart_name">{{ chart.name }}</span>
        <span class="icon_btn" id="save_dashboard_btn">
            <i class="fas fa-save"></i>
        </span>
    </div>

    <div class="chart_conf_nav">
        <ul>
            <li id="chartconf_general_btn", class="chartconf_nav_li">general</li>
            <li id="chartconf_query_btn", class="chartconf_nav_li">query</li>
            <li id="chartconf_visualization_btn", class="chartconf_nav_li">Visualisation</li>
            <li id="chartconf_axes_btn", class="chartconf_nav_li">axes</li>
            <li id="chartconf_display_btn", class="chartconf_nav_li">display</li>
        </ul>
    </div>


    <!-- Obsah jednotlivych nastaveni -->
    <div class="chart_conf_content", id="chartconf_general_container">
        <div class="options_wrapper">
            <div class="option">
                <span>name</span>
                <span>
                    {% if chart.name %}
                        <input id="chart_name" type="text" value="{{ chart.name }}">
                    {% else %}
                        <input id="chart_name" type="text">
                    {% endif %}
                </span>
            </div>
            <div class="option">
                <span>width</span>
                <span>
                    {% if chart.width %}
                        <input id="chart_width" type="text" value="{{ chart.width }}">
                    {% else %}
                        <input id="chart_width" type="text">
                    {% endif %}
                </span>
            </div>
            <div class="option">
                <span>min_width</span>
                <span>
                    {% if chart.min_width %}
                        <input id="chart_min_width" type="text" value="{{ chart.min_width }}">
                    {% else %}
                        <input id="chart_min_width" type="text">
                    {% endif %}
                </span>
            </div>
            <div class="option">
                <span>max_width</span>
                <span>
                    {% if chart.max_width %}
                        <input id="chart_max_width" type="text" value="{{ chart.max_width }}">
                    {% else %}
                        <input id="chart_max_width" type="text">
                    {% endif %}
                </span>
            </div>
            <div class="option">
                <span>height</span>
                <span>
                    {% if chart.height %}
                        <input id="chart_height" type="text" value="{{ chart.height }}">
                    {% else %}
                        <input id="chart_height" type="text">
                    {% endif %}
                </span>
            </div>
            <div class="option">
                <span>min_height</span>
                <span>
                    {% if chart.min_height %}
                        <input id="chart_min_height" type="text" value="{{ chart.min_height }}">
                    {% else %}
                        <input id="chart_min_height" type="text">
                    {% endif %}
                </span>
            </div>
            <div class="option">
                <span>max_height</span>
                <span>
                    {% if chart.max_height %}
                        <input id="chart_max_height" type="text" value="{{ chart.max_height }}">
                    {% else %}
                        <input id="chart_max_height" type="text">
                    {% endif %}
                </span>
            </div>
        </div>
    </div>

    <div class="chart_conf_content", id="chartconf_query_container">
        <span>query</span>
        <span>
            <input id="chart_query" type="text" value="{{ chart.prom_query }}">
        </span>
    </div>

    <div class="chart_conf_content", id="chartconf_visualization_container">
        Not implemented (visualisation)
    </div>

    <div class="chart_conf_content", id="chartconf_axes_container">
        Not implemented (axes)
    </div>

    <div class="chart_conf_content", id="chartconf_display_container">
        Not implemented (display)
    </div>
{% endblock %}

{% block scripts %}
    <script>
        const chart_id = "{{ chart.id }}"

        function get_chart_settings () {
            var name = document.getElementById("chart_name").value.trim();
            var width = document.getElementById("chart_width").value.trim();
            var min_width = document.getElementById("chart_min_width").value.trim();
            var max_width = document.getElementById("chart_max_width").value.trim();
            var height = document.getElementById("chart_height").value.trim();
            var min_height = document.getElementById("chart_min_height").value.trim();
            var max_height = document.getElementById("chart_max_height").value.trim();
            var prom_query = document.getElementById(
                    "chart_query").value.trim();
            
            var chart_settings = {
                "id": chart_id,
                "name": name,
                "prom_query": prom_query,
                "width": width,
                "min_width": min_width,
                "max_width": max_width,
                "height": height,
                "min_height": min_height,
                "max_height": max_height,
            }
            return chart_settings;
        }

        function update_chart() {
            var chart_settings = get_chart_settings();

            $.ajax({
                type: "POST",
                url: "/api/updateChart",
                data: chart_settings,
                success: function (response) {
                    actualize_chart();
                },
                error: function (e) {
                    alert("error");
                },
            });
        }

        var settings_inputs = document.querySelectorAll(
                ".chart_conf_content input");
        settings_inputs.forEach((input) => {
            input.addEventListener("keyup", function(event) {
              if (event.keyCode === 13) {
               event.preventDefault();
               actualize_chart();
              }
            });
        })


        function actualize_chart() {
            chart_settings = get_chart_settings();
            var name = document.querySelector(".chart_name").textContent = 
                    chart_settings.name;
        }

        var chartconf_nav_items = document.querySelectorAll(".chartconf_nav_li");
        var chartconf_containers = document.querySelectorAll(".chart_conf_content");
        var save_btn = document.querySelector("#save_dashboard_btn");

        save_btn.addEventListener("click", update_chart);

        chartconf_nav_items.forEach((nav_item) => {

            nav_item.addEventListener("click", () => {

                chartconf_containers.forEach((chartconf_container) => {
                    chartconf_container.style.display = "none";    
                })

                var current_container_id = nav_item.id.replace("btn", "container").trim();
                var current_container = document.getElementById(current_container_id);
                current_container.style.display = "block";

            })
        })

        chartconf_nav_items.forEach((li_item) => {
            li_item.addEventListener("click", () => {

                chartconf_nav_items.forEach((item) => {
                    item.classList.remove("chartconf_nav_li");
                    item.classList.remove("chartconf_nav_li_selected");
                    item.classList.add("chartconf_nav_li");
                })
                li_item.classList.remove("chartconf_nav_li");
                li_item.classList.remove("chartconf_nav_li_selected");
                li_item.classList.add("chartconf_nav_li_selected");
            })
        })

    </script>
{% endblock %}