{% extends 'navigation.html' %}

{% block title %} {{ dashboard.name }} {% endblock %}

{% block content %}

    <div class="dashboard_navbar">
        <div class="dashboard_profile">
            <span id="back_btn" class="hidden">
                <i class="fas fa-arrow-left"></i>
            </span>
            <span>{{ dashboard.name }}</span>
        </div>
        <div class="dashboard_btns">
            <span class="date_range">
                <span>last</span>
                <input id="query_last" type="text" value="{{ dashboard.timerange }}">
            </span>
            <span class="icon_btn" id="add_row_btn">
                <i class="fas fa-plus"></i>
            </span>
            <span class="icon_btn" id="save_dashboard_btn">
                <i class="fas fa-save"></i>
            </span>
            <span class="icon_btn" id="refresh_dashboard_btn">
                <i class="fas fa-sync"></i>
            </span>
        </div>
    </div>

    <div class="rows_container">
    </div>

    <div class="chartconf_container">

        <div class="chartconf_header"></div>

        <div class="chartconf_chart_container">
            <div class="chartconf_chart">
            </div>
        </div>

        <div class="chartconf_nav">
            <ul>
                <li id="chartconf_general_btn", class="chartconf_nav_li">
                    general
                </li>
                <li id="chartconf_query_btn", class="chartconf_nav_li">
                    query
                </li>
                <li id="chartconf_visualization_btn", class="chartconf_nav_li">
                    Visualisation
                </li>
                <li id="chartconf_axes_btn", class="chartconf_nav_li">
                    axes
                </li>
                <li id="chartconf_display_btn", class="chartconf_nav_li">
                    display
                </li>
            </ul>
        </div>

        <!-- Obsah jednotlivych nastaveni -->
        <div class="chartconf_wrapper">
            <div class="chartconf_content_hidden", id="chartconf_general_container">
            </div>

            <div class="chartconf_content_hidden", id="chartconf_query_container">
                <div class="query_wrapper">
                    <div class="query">
                        <span>query:</span>
                        <input type="text" id="prom_query">
                    </div>
                    <div class="query_options">
                        <div>
                            <span>legend</span>
                            <input id="query_legend" type="text">
                        </div>
                        <div>
                            <span>step</span>
                            <input id="query_step" type="text">
                        </div>
                        <div>
                            <span>instant</span>
                            <input type="checkbox", id="query_type">
                        </div>
                    </div>
                </div>
            </div>

            <div class="chartconf_content_hidden", id="chartconf_visualization_container">
                <ul>
                    <li>
                        <span class="icon_btn chart_vis" id="line_chart_btn">
                            <i class="fas fa-chart-line"></i>
                        </span>
                        <span class="icon_btn chart_vis" id="pie_chart_btn">
                            <i class="fas fa-chart-pie"></i>
                        </span>
                    </li>
                    <li>
                        <span class="icon_btn chart_vis" id="area_chart_btn">
                            <i class="fas fa-chart-area"></i>
                        </span>
                        <span class="icon_btn chart_vis" id="heatmap_chart_btn">
                            <i class="fas fa-table"></i>
                        </span>
                    </li>
                    <li>
                        <span class="icon_btn chart_vis" id="column_chart_btn">
                            <i class="fas fa-chart-bar"></i>
                        </span>
                        <span class="icon_btn chart_vis" id="donut_chart_btn">
                            <i class="far fa-life-ring"></i>
                        </span>
                    </li>
                </ul>
            </div>

            <div class="chartconf_content_hidden", id="chartconf_axes_container">
                <div>
                    <span>xaxis units: </span>
                    <input id="xaxis_units" type="text">
                </div>
            </div>

            <div class="chartconf_content_hidden", id="chartconf_display_container">
            </div>
        </div>
    </div>

{% endblock %}


{% block scripts %}
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <!-- <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chartconf.js') }}"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    
    <!-- NEW -->
    <script src="{{ url_for('static', filename='js/modelsUtils.js') }}"></script>
    <script src="{{ url_for('static', filename='js/models.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
    <script>
        $(document).ready(function(){
            // Set cache = false for all jquery ajax requests.
            $.ajaxSetup({
                cache: false,
            });
        });

        var dashboardId = "{{ dashboard.id }}";
        var dashboardName = "{{ dashboard.name}} ";
        var dashboard = new Dashboard(dashboardId, dashboardName);
        init_dashboard();
    </script>


    <!-- <script>
        $(document).ready(function(){
            // Set cache = false for all jquery ajax requests.
            $.ajaxSetup({
                cache: false,
            });
        });

        const dashboard_id = "{{ dashboard.id }}";
        var g_timerange = "{{ dashboard.timerange }}";
        var g_rows_conf = {};
        var g_current_chart_id = null;
        var g_apex_charts = {};
        var g_current_view = "dashboard";
        $( function() {
            $(".rows_container").sortable();
        })

        var add_row_btn = document.querySelector("#add_row_btn");
        add_row_btn.addEventListener("click", () => {
            add_row();
        }); 

        var add_row_btn = document.querySelector("#save_dashboard_btn");
        add_row_btn.addEventListener("click", () => {
            actualize_g_rows_conf();
            save_dashboard();
        }); 

        function save_dashboard() {
            $.ajax({
                type: "POST",
                url: "/api/saveDashboard",
                data: {
                    dashboard_id: dashboard_id,
                    rows_conf: JSON.stringify(g_rows_conf),
                    timerange: window.g_timerange,
                },
                success: function (rows_conf) {
                    alert("yeah");
                },
                error: function (e) {
                    alert("error");
                },
            });
        }

        function init_charts() {
            $.ajax({
                type: "GET",
                url: "/api/getDashboardCharts",
                data: {
                    dashboard_id: dashboard_id
                },
                success: function (rows_conf) {
                    g_rows_conf = rows_conf;
                    draw_rows(rows_conf);
                    actualize_charts();
                },
                error: function (e) {
                    alert("error");
                },
            });
        }

        function sortByPosition(a, b) {
            return a[1] - b[1];
        }

        function get_sorted_by_position(elems_dict) {
            var arr = []
            for (var elem_id in elems_dict) {
                arr.push([elem_id, elems_dict[elem_id]["position"]]);
            }
            arr.sort(sortByPosition);
            sorted_ids = []
            arr.forEach((elem) => {
                sorted_ids.push(elem[0])
            })
            return sorted_ids;
        }
        
        function draw_rows(rows_conf) {
            var rows_container = document.querySelector('.rows_container');
            sorted = get_sorted_by_position(rows_conf);
            sorted.forEach((row_id) => {
                var row = get_row(rows_conf[row_id]);
                rows_container.appendChild(row);
                $( function() {
                    qstring = "#" + row.id + " .charts_container";
                    $(qstring).sortable({
                        connectWith: ".charts_container",
                    });
                })
            })
        }

        function create_id(prefix){
            var id = prefix + Math.random().toString(36).substr(2, 10);
            return id;
        }

        function add_row() {
            row_conf = get_new_row();
            g_rows_conf[row_conf.id] = row_conf;
            row_elem = get_row(row_conf);
            insert_row(row_elem);
            qstring = "#" + row_elem.id + " .charts_container";
            $(qstring).sortable({
                connectWith: ".charts_container",
            });
        }

        function insert_row(row_elem) {
            var rows_container = document.querySelector(".rows_container");
            rows_container.insertBefore(row_elem, rows_container.firstChild);
        }

        function get_new_row() {
            row_conf = {
                "id": create_id("row_"),
                "dashboard_id": dashboard_id,
                "name": "New Row " + num_elems('.row_name', 'New Row'),
                "position": 0,
                "charts": {}
            };
            return row_conf;
        }

        function get_icon(cls, id) {
            var span = document.createElement('span');
            span.classList.add('icon_btn');

            if (id) {
                span.id = id;
            }

            var chart_icon = document.createElement('i');
            chart_icon.className = cls;
            span.appendChild(chart_icon);
            return span
        }

        function get_row(row_conf) {
            var row = document.createElement('div');
            var row_header = document.createElement('div');
            var row_name = document.createElement('span');
            var charts_container = document.createElement('div');

            var show_btn = get_icon("fas fa-chevron-right", null);
            var hide_btn = get_icon("fas fa-chevron-down", null);
            var add_chart_btn = get_icon("fas fa-plus", null);
            var delete_row_btn = get_icon("fas fa-trash", null);

            show_btn.style.display = "none";
            show_btn.addEventListener("click", () => {
                show_btn.style.display = "none";
                hide_btn.style.display = "";
                charts_container.style.display = "";
                
            });
            hide_btn.addEventListener("click", () => {
                show_btn.style.display = "";
                hide_btn.style.display = "none";
                charts_container.style.display = "none";
            });

            add_chart_btn.addEventListener("click", () => {
                add_chart(row_conf.id)
            });
            delete_row_btn.addEventListener("click", () => {
                delete_row(row_conf.id)
            });

            row.classList.add('row');
            row_header.classList.add('row_header');
            row_name.classList.add('row_name');
            charts_container.classList.add('charts_container');

            row.id = row_conf.id;
            row_name.textContent = row_conf.name;
            row_header.appendChild(row_name);
            row_header.appendChild(show_btn);
            row_header.appendChild(hide_btn);
            row_header.appendChild(add_chart_btn);
            row_header.appendChild(delete_row_btn);
            row.appendChild(row_header);

            sorted_charts_ids = get_sorted_by_position(row_conf.charts);
            sorted_charts_ids.forEach((chart_id) => {
                var chart_conf = row_conf.charts[chart_id];
                var chart = get_chart(chart_conf);
                charts_container.appendChild(chart);
            })

            row.appendChild(charts_container);
            return row;
        }
        
        function delete_row(row_id) {
            actualize_g_rows_conf();
            delete g_rows_conf[row_id];
            document.getElementById(row_id).remove();
        }

        function delete_chart(chart_id) {
            actualize_g_rows_conf();
            chart = document.getElementById(chart_id);
            row_id = chart.closest(".row").id;
            delete g_rows_conf[row_id].charts[chart_id];

        }

        function add_chart(row_id) {
            chart_conf = get_new_chart(row_id);
            g_rows_conf[row_id].charts[chart_conf.id] = chart_conf;
            chart_elem = get_chart(chart_conf);
            insert_chart(chart_elem, row_id);
        }

        function num_elems(identifier, substring) {
            var elems = document.querySelectorAll(identifier);
            var i = 0;
            elems.forEach((elem) => {
                if (elem.textContent.includes(substring)) {
                    i += 1;
                }
            })
            return i;
        }

        function actualize_charts() {
            for (var row_id in g_rows_conf) {
                var row_charts = g_rows_conf[row_id].charts;
                for (var chart_id in row_charts) {
                    var chart_conf = row_charts[chart_id];
                    var qstring = "#" + chart_conf.id + " .chart_chart";

                    if (qstring in g_apex_charts) {
                        g_apex_charts[qstring].destroy();
                        delete g_apex_charts[qstring];
                    }
                }
            }
            for (var row_id in g_rows_conf) {
                var row_charts = g_rows_conf[row_id].charts;
                for (var chart_id in row_charts) {
                    var chart_conf = row_charts[chart_id];
                    var qstring = "#" + chart_conf.id + " .chart_chart";
                    actualize_chart(qstring, chart_conf);
                }
            }
        }

        function actualize_chart(qstring, chart_conf) {
            var time_range = get_time_range()

            if (!chart_conf.prom_query) {
                console.log("chart: " + chart_conf.id + " doesnt have query");
                return;
            }

            var request_conf = {
                "prom_query": chart_conf.prom_query,
                "instant": chart_conf.instant,
                "step": chart_conf.step,
                "start": time_range[0],
                "end": time_range[1],
            }
        
            $.ajax({
                cache: false,
                type: "GET",
                url: "/api/prometheusRequest",
                data: {
                    request_conf: JSON.stringify(request_conf)
                },
                success: function (response) {
                    if (response.status === "ok") {
                        fill_chart(qstring, chart_conf, response.data);    
                    }
                },
                error: function (e) {
                    alert("prom query error");
                },
            });
        }

        function get_common_params() {
            chart_params = {
                // stroke: {},
                chart: {
                    animations: { enabled: false},
                    redrawOnParentResize: true,
                    width: '100%',
                    height: '100%',
                    toolbar: {
                        show: false,
                        offsetx: 0,
                        offsety: 0,
                        tools: {
                            download: false,
                            selection: false,
                            zoom: false,
                            zoomin: false,
                            zoomout: false,
                            pan: false,
                            reset: false,
                            customicons: []
                        },
                        autoselected: 'zoom' 
                    },
                },
                // legend: {},
                dataLabels: {
                    enabled: false
                },
                // series: [],
                // labels: [],
                // xaxis: {},
                // tooltip: {
                //     enabled: false
                // },
                grid: {
                    show: false
                },
            }
            return chart_params;
        }

        function correct_units(units, values) {
            
            switch(units) {
                case "numeric":
                    break;
                case "datetime":
                    for (let i = 0; i < values.length; i++) {
                        values[i][0] *= 1000;
                    } 
                    break;
                default:
                    alert("Unknown units: " + units
                                            + ". Return default values");
            }

            return values;
        } 

        function fill_chart(qstring, chart_conf, prom_data) {
            var chart_type = chart_conf.visualization.type;
            var chart_options = chart_conf.visualization.options;
            var chart_params = get_chart_params(chart_conf);

            // TODO show err icon in graph
            if (prom_data.status != "success") {
                alert("prom query err");
                return;
            }

            var data = prom_data.data;
            switch(chart_type) {
                case "line": case "column":
                    if (data.resultType !== "matrix") {
                        alert("bad data format");
                    }

                    var series = []
                    data.result.forEach((result) => {
                        correct_units(chart_params.xaxis.type, result.values);
                        var serie = {
                            type: chart_type,
                            data: result.values
                        }
                        if (chart_params.legend.show) {
                            var legend_name = chart_options.legend.trim();
                            if (!legend_name) {
                                alert("legend name should not be empty");
                            }

                            if (legend_name in result.metric) {
                                var legend_value = result.metric[legend_name];
                                serie.name = legend_value;
                            } else {
                                alert("legend_name not found in data");
                            }
                        }
                        series.push(serie);
                    })
                    chart_params.series = series;
                    break;
                case "area":
                    if (data.resultType !== "matrix") {
                        alert("bad data format");
                    }

                    var series = []
                    data.result.forEach((result) => {
                        correct_units(chart_params.xaxis.type, result.values);
                        var serie = {
                            data: result.values
                        }
                        if (chart_params.legend.show) {
                            var legend_name = chart_options.legend.trim();
                            if (!legend_name) {
                                alert("legend name should not be empty");
                            }

                            if (legend_name in result.metric) {
                                var legend_value = result.metric[legend_name];
                                serie.name = legend_value;
                            } else {
                                alert("legend_name not found in data");
                            }
                        }
                        series.push(serie);
                    })
                    chart_params.series = series;
                    break;
                case "pie": case "donut":
                    if (data.resultType != "vector") {
                        alert("bad data format");
                    }

                    var series = []
                    var labels = []

                    data.result.forEach((result) => {
                        series.push(parseFloat(result.value[1]));
                        if (chart_params.legend.show) {
                            var legend_name = chart_options.legend.trim();
                            if (!legend_name) {
                                alert("legend name should not be empty");
                            }

                            if (legend_name in result.metric) {
                                var legend_value = result.metric[legend_name];
                                labels.push(legend_value);
                            } else {
                                alert("legend_name not found in data");
                            }
                    }

                    });

                    chart_params.series = series;
                    chart_params.labels = labels;
                    break;
                case "heatmap":
                    if (data.resultType !== "matrix") {
                        alert("bad data format");
                    }

                    var series = []
                    data.result.forEach((result) => {
                        correct_units(chart_params.xaxis.type, result.values);
                        var serie = {
                            data: result.values
                        }
                        if (chart_params.legend.show) {
                            var legend_name = chart_options.legend.trim();
                            if (!legend_name) {
                                alert("legend name should not be empty");
                            }

                            if (legend_name in result.metric) {
                                var legend_value = result.metric[legend_name];
                                console.log("legend_value: " + legend_value);
                                serie.name = legend_value;
                            } else {
                                alert("legend_name not found in data");
                            }
                        }
                        series.push(serie);
                    })
                    chart_params.series = series;
                    break;
                default:
                    alert("fill_chart Unknown chart type: " + chart_type);
            }

            if (!(qstring in g_apex_charts)) {
                console.log("Creating new chart");
                var chart = new ApexCharts(
                        document.querySelector(qstring), chart_params);
                g_apex_charts[qstring] = chart;
                chart.render();
            } else {
                alert(qstring + "should not be in g_apex_charts");
            }
        }

        function get_chart_params(chart_conf) {
            var chart_type = chart_conf.visualization.type;
            var chart_options = chart_conf.visualization.options;
            var chart_params = get_common_params();

            console.log("chart_options.legend: " + chart_options.legend);
            var chart_legend = chart_options.legend.trim();
            var show_legend = false;

            if (chart_legend) {
                show_legend = true;
            }

            switch(chart_type) {
                case "line": case "column":
                    var stroke = {
                        curve: chart_options.curve,
                        width: chart_options.lineWidth
                    };

                    var legend = {
                        show: show_legend,
                    };
                    var xaxis = {
                        type: chart_options.units
                    };

                    chart_params.stroke = stroke;
                    chart_params.legend = legend;
                    chart_params.xaxis = xaxis;
                    chart_params.chart.stacked = chart_options.stacked;
                    break;
                case "area":
                    var stroke = {
                        curve: chart_options.curve,
                        width: chart_options.lineWidth
                    };
                    var legend = {
                        show: show_legend,
                    };
                    var xaxis = {
                        type: chart_options.units
                    };
                    fill = chart_options.fill;

                    chart_params.stroke = stroke;
                    chart_params.legend = legend;
                    chart_params.xaxis = xaxis;
                    chart_params.chart.stacked = chart_options.stacked;
                    chart_params.chart.type = chart_type
                    break;
                case "pie": case "donut":
                    var legend = {
                        show: show_legend,
                    };
                    chart_params.legend = legend;
                    chart_params.chart.type = chart_type
                    break;
                case "heatmap":
                    console.log("chart_options: ");
                    console.log(chart_options);
                    var legend = {
                        show: show_legend,
                    };
                    var xaxis = {
                        type: chart_options.units
                    };
                    chart_params.legend = legend;
                    chart_params.colors = chart_options.colors;
                    chart_params.xaxis = xaxis;
                    chart_params.chart.type = chart_type;
                    console.log("chart_params: ");
                    console.log(chart_params);
                    break;
                default:
                    alert("get_chart_params Unknown chart type: " + chart_type);
            } 
            // TODO others

            return chart_params;
        }

        function get_default_options(type) {
            var options = null;

            switch(type) {
                case "line": case "column":
                    options = {
                        "curve": "straight",
                        "lineWidth": 5,
                        "type": "line",
                        "stacked": false,
                        "legend": "",
                        "units": 'numeric'
                    }
                    break;
                case "area":
                    options = {
                        "curve": "straight",
                        "lineWidth": 5,
                        "type": "line",
                        "stacked": false,
                        "legend": "",
                        "units": 'numeric',
                        "fill" : {
                            "type": 'solid'
                        }
                    }
                    break;
                case "pie": case "donut":
                    options = {
                        "legend": "",
                    }
                    break;
                case "heatmap":
                    options = {
                        "legend": "",
                        "colors": ["#008FFB"],
                        "units": 'datetime'
                    }
                    break;
                default:
                    alert("Unknown chart type");
            }

            return options;
        }

        function get_new_chart(row_id) {
            chart_conf = {
                "id": create_id("chart_"),
                "prom_query": null,
                "row_id": row_id,
                "name": "New Chart " + num_elems('.chart_name', 'New Chart'),
                "position": 0,
                "legend": null,
                "step": "1m",
                "instant": false,
                "visualization": {
                    "type": "line",
                    "options": get_default_options("line")
                },
                "style": {
                    "width": "20%",
                    "min_width": null,
                    "max_width": null,
                    "height": "200px",
                    "min_height": null,
                    "max_height": null,
                }
            }
            return chart_conf;
        }

        function get_chart(chart_conf) {
            var chart = document.createElement('div');
            var chart_nav = document.createElement('div');
            var chart_chart = document.createElement('div');
            var chart_name = document.createElement('span');
            var chart_icon = document.createElement('span');
            var chart_icon_i = document.createElement('i');

            chart.classList.add('chart');
            chart_nav.classList.add('chart_nav');
            chart_chart.classList.add('chart_chart');
            chart_name.classList.add('chart_name');
            chart_icon.classList.add('icon_btn');
            chart_icon_i.classList.add('fas');
            chart_icon_i.classList.add('fa-cog');

            chart.id = chart_conf.id;
            chart_name.textContent = chart_conf.name;

            for (var style in chart_conf.style) {
                var value = chart_conf.style[style];
                if (value) {
                    chart.style[style] = value;
                }
            }
            chart_icon.addEventListener("click", () => {
                chart_conf = get_chart_conf_by_id(chart_conf.id)
                g_current_chart_id = chart_conf.id
                g_current_view = "chartconf";
                show_chart_settings(chart_conf);
            });

            chart_icon.appendChild(chart_icon_i);
            chart_nav.appendChild(chart_name);
            chart_nav.appendChild(chart_icon);
            chart.appendChild(chart_nav)
            chart.appendChild(chart_chart)

            return chart;
        }

        function insert_chart(chart_elem, row_id) {
            charts_container_id = '#' + row_id + " .charts_container";
            var charts_container = document.querySelector(charts_container_id);
            charts_container.insertBefore(chart_elem, charts_container.firstChild);
        }

        init_charts();

        var back_btn = document.getElementById("back_btn");
        back_btn.addEventListener("click", () => {
            switch (g_current_view) {
                case "chartconf":
                    hide_chart_settings();
                    g_current_view = "dashboard";
                    update_charts();
                    break;
                default:
                    alert("wrong g_current_view: " + g_current_view);
            }
        });

    </script> -->
{% endblock %}
