<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/colors.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">

    <!-- TODO comment -->
    <script src="https://kit.fontawesome.com/d8730202bf.js"></script>
</head>
<body>

    <nav>

        <div class="leftArea">
            <a class="button textBtn" id="dashboardsBtn" href="{{ url_for('dashboards.homePage')}}">
                dashboards
            </a>
            <div class="confHeader hidden">
                <span class="button iconBtn dashboardIcon"
                      id="confBackBtn">
                    <i class="fas fa-arrow-left"></i>
                </span>
                <span class="dashboardName"></span>
            </div>
            <div class="dashboardHeader">
                <span class="dashboardName">{{ dashboard.name }}</span>

                {% if favourite %}
                    <span class="dashboardIcon favourite" id="dashboardFav">
                        <i class="fas fa-star"></i>
                    </span>
                {% else %}
                    <span class="dashboardIcon button" id="dashboardFav">
                        <i class="fas fa-star"></i>
                    </span>
                {% endif %}
                <span class="button iconBtn dashboardIcon" id="dashboardConf">
                    <i class="fas fa-cog"></i>
                </span>
            </div>
            <div class="dashConfHeader hidden">
                <span class="button iconBtn dashboardIcon"
                      id="dashConfBackBtn">
                    <i class="fas fa-arrow-left"></i>
                </span>
                <span class="dashboardName">{{ dashboard.name }}</span>
            </div>
        </div>

        <div class="middleArea">
            <div class="dashboardBar">
                <div class="timerange">
                    <span>last</span>
                    <span id="queryLast" contenteditable="true">{{ dashboard.timerange }}
                    </span>
                </div>
                <span class="button iconBtn dashboardIcon" id="addRowBtn">
                    <i class="fas fa-plus"></i>
                </span>
                <span class="button IconBtn dashboardIcon" id="saveDashboardBtn">
                    <i class="fas fa-save"></i>
                </span>
                <span class="button IconBtn dashboardIcon" id="refreshDashboardBtn">
                    <i class="fas fa-sync"></i>
                </span>
            </div>
        </div>

        <div class="rightArea">
            <div class="userProfile">
                <span>{{ user.username }}</span>
                <a class="button iconBtn dashboardIcon" href="{{ url_for('auth.logout') }}">
                    <i class="fas fa-power-off"></i>
                </a>
            </div>
        </div>
        
    </nav>

    <div class="content">
        <div class="rowsContainer">
            <!-- <div class="chartContainer">
                <div class="chartNav">
                    <span></span>
                    <span>chartName</span>
                    <div class="chartIcons">
                        <span class="button iconBtn">
                            <i class="fas fa-cog"></i>
                        </span>
                        <span class="button iconBtn">
                            <i class="fas fa-trash"></i>
                        </span>
                    </div>
                </div>
                <div class="chartWrapper">
                    <div class="chart">

                    </div>
                </div>
            </div> -->
        </div>

        <div class="dashConfContainer hidden">
            <div class="optionsWrapper">
                <div class="optionWrapper">
                    <div class="optionName">Dashboard name</div>
                    <div>
                        <input id="dashboardName" type="text" value="{{ dashboard.name }}">
                    </div>
                </div>
                <div class="optionWrapper">
                    <div class="optionName">Datasource url</div>
                    <div>
                    {% if dashboard.url %}
                        <input id="datasourceUrl"type="text"
                                value="{{ dashboard.url }}">
                    {% else %}
                        <input id="datasourceUrl"type="text" value="">
                    {% endif %}
                    </div>
                </div>
                <div class="deleteDashboard">
                    <form method="post"
                        action="{{ url_for('dashboards.deleteDashboard') }}">
                        <input type="hidden" name="dashboardId" value="{{ dashboard.id }}">
                        <button type="submit" id="deleteDashboardBtn"
                                class="button textBtn">
                                Delete dashboard
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <div class="confContainer hidden">

            <div class="confChartContainer">
                <div class="confChart">
                </div>
            </div>

            <div class="confNav">
                <ul>
                    <li id="confGeneralBtn", class="button textBtn confNavLi">
                        general
                    </li>
                    <li id="confQueryBtn", class="button textBtn confNavLi">
                        query
                    </li>
                    <li id="confVisualizationBtn", class="button textBtn confNavLi">
                        Visualisation
                    </li>
                    <li id="confAxesBtn", class="button textBtn confNavLi">
                        axes
                    </li>
                </ul>
            </div>

            <!-- Obsah jednotlivych nastaveni -->
            <div class="confWrapper">
                <div class="confContent hidden", id="confGeneralContainer">
                </div>

                <div class="confContent hidden", id="confQueryContainer">
                    <div class="optionsWrapper">
                        <div class="optionWrapper">
                            <div class="optionName">Query</div>
                            <div>
                                <input type="text" id="promQuery">
                            </div>
                        </div>
                        <div class="optionWrapper">
                            <div class="optionName">Legend</div>
                            <div>
                                <input id="queryLegend" type="text">
                            </div>
                        </div>
                        <div class="optionWrapper">
                            <div class="optionName">Step</div>
                            <div>
                                <input id="queryStep" type="text">
                            </div>
                        </div>
                        <div class="optionWrapper">
                            <div class="optionName">Instant</div>
                            <div>
                                <input type="checkbox", id="queryType">
                            </div>
                        </div>
                    </div>
                    <!-- <div class="queryWrapper">
                        <div class="query">
                            <span>query:</span>
                            <input type="text" id="promQuery">
                        </div>
                        <div class="queryOptions">
                            <div>
                                <span>legend</span>
                                <input id="queryLegend" type="text">
                            </div>
                            <div>
                                <span>step</span>
                                <input id="queryStep" type="text">
                            </div>
                            <div>
                                <span>instant</span>
                                <input type="checkbox", id="queryType">
                            </div>
                        </div>
                    </div> -->
                </div>

                <div class="confContent hidden", id="confVisualizationContainer">
                    <ul>
                        <li>
                            <span class="button iconBtn chartVis" id="lineChartBtn">
                                <i class="fas fa-chart-line"></i>
                            </span>
                            <span class="button iconBtn chartVis" id="pieChartBtn">
                                <i class="fas fa-chart-pie"></i>
                            </span>
                        </li>
                        <li>
                            <span class="button iconBtn chartVis" id="areaChartBtn">
                                <i class="fas fa-chart-area"></i>
                            </span>
                            <span class="button iconBtn chartVis" id="heatmapChartBtn">
                                <i class="fas fa-table"></i>
                            </span>
                        </li>
                        <li>
                            <span class="button iconBtn chartVis" id="columnChartBtn">
                                <i class="fas fa-chart-bar"></i>
                            </span>
                            <span class="button iconBtn chartVis" id="donutChartBtn">
                                <i class="far fa-life-ring"></i>
                            </span>
                        </li>
                    </ul>
                </div>

                <div class="confContent hidden", id="confAxesContainer">
                    <div>
                        <span>xaxis units: </span>
                        <input id="xaxisUnits" type="text">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="{{ url_for('static', filename='js/modelsUtils.js') }}"></script>
    <script src="{{ url_for('static', filename='js/models.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chartConf.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
    <script>
        $(document).ready(function(){
            // Set cache = false for all jquery ajax requests.
            $.ajaxSetup({
                cache: false,
            });
        });

        var dashboardId = "{{ dashboard.id }}";
        var dashboardName = "{{ dashboard.name}} ";
        var dashboard = new Dashboard(dashboardId, dashboardName);
        var currentChartId = null;
        init_dashboard();
    </script>

</body>
</html>