<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/colors.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <script src="https://kit.fontawesome.com/d8730202bf.js"></script>
</head>

<body>

    <nav>
        <div>a</div>
        <div>
            <form method="post" class="createDashboard"
                action="{{ url_for('dashboards.createDashboard') }}">
                <button type="submit" id="createDashboardBtn"
                        class="button createBarIcon">
                        New Dashboard
                </button>
            </form>
        </div>
        <div class="userProfile">
            <span>{{ user.username }}</span>
            <a class="button iconBtn dashboardIcon" href="{{ url_for('auth.logout') }}">
                <i class="fas fa-power-off"></i>
            </a>
        </div>
    </nav>

    <div class="searchContent">
        <div class="resultWrapper">
            <div class="bar">
                <div class="searchBar">
                    <span>
                        <input id="searchText" type="text" placeholder="search">
                    </span>
                </div>
            </div>

            <div class="resultClass">
                <span>Favourite dashboards</span>
                <span class="button favDashBtn hidden">
                    <i class="fas fa-chevron-right"></i>
                </span>
                <span class="button favDashBtn">
                    <i class="fas fa-chevron-down"></i>
                </span>
            </div>
            <div class="favDashboards">
                <ul>
                    {% for dashboard in dashboards %}
                        {% if dashboard.favourite %}
                            <li>
                                <a class="button textBtn" href="{{ url_for('dashboards.dashboardPage', name=dashboard.name) }}">
                                    {{ dashboard.name }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="resultClass">
                <span>All dashboards</span>
                <span class="button allDashBtn hidden">
                    <i class="fas fa-chevron-right"></i>
                </span>
                <span class="button allDashBtn">
                    <i class="fas fa-chevron-down"></i>
                </span>
            </div>
            <div class="allDashboards">
                <ul>
                    {% for dashboard in dashboards %}
                        <li>
                            <a class="button textBtn" href="{{ url_for('dashboards.dashboardPage', name=dashboard.name) }}">
                                {{ dashboard.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
</body>

</html>