<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <!-- super icons -->
    <script src="https://kit.fontawesome.com/d8730202bf.js"></script>
</head>
<body>

    <nav>
        <a id="nav_home_btn" class="nav_button" href="/">
            <span class="icon">
                <i class="fas fa-home"></i>
            </span>
        </a>
        <a id="nav_search_btn" class="nav_button" href="/search">
            <span class="icon">
                <i class="fas fa-search"></i>
            </span>
        </a>
        <a id="nav_create_btn" class="nav_button" href="/create">
            <span class="icon">
                <i class="fas fa-plus"></i>
            </span>
        </a>
        <a id="nav_settings_btn" class="nav_button" href="/settings">
            <span class="icon">
                <i class="fas fa-cog"></i>
            </span>
        </a>
        <a id="nav_logout_btn" class="nav_button" href="/logout">
            <span class="icon">
                <i class="fas fa-power-off"></i>
            </span>
        </a>
    </nav>

    <div class="content">
        {% block content %} {% endblock %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% block scripts %} {% endblock %}

</body>
</html>
