{% extends 'navigation.html' %}

{% block title %} Home {% endblock %}

{% block content %}
        <div class="search_bar">
            <span>
                <input id="search_text" type="text">
            </span>
            <span id="search_dashboard_btn" class="icon">
                <i class="fas fa-search"></i>
            </span>
            <span id="stop_search_dashboard_btn" class="icon">
                <i class="fas fa-times"></i>
            </span>
        </div>

        <div class="search_content">
            <ul>
                {% for dashboard in dashboards %}
                    <li id="{{ dashboard.id }}">
                        <a href="{{ url_for('dashboards.dashboard_page', name=dashboard.name) }}">
                            {{ dashboard.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
{% endblock %}


{% block scripts %}
<script>
    // selected buton in main navbar
    var selected_btn = document.getElementById("nav_search_btn");
    selected_btn.classList.remove("nav_button");
    selected_btn.classList.add("nav_button_selected");

    // filter dashboards
    var search_dashboard_btn = document.querySelector("#search_dashboard_btn");
    var stop_search_dashboard_btn = document.querySelector("#stop_search_dashboard_btn");
    var search_text = document.querySelector("#search_text");
    var li_items = document.querySelectorAll(".search_content li");

    search_dashboard_btn.addEventListener("click", () => {
        var text = search_text.value.trim();

        li_items.forEach((li_item) => {
            if (li_item.textContent.includes(text)) {
                li_item.style.display = "flex";
            }
            else {
                li_item.style.display = "none";
            }
        })
    })

    stop_search_dashboard_btn.addEventListener("click", () => {
        li_items.forEach((li_item) => {
            li_item.style.display = "flex";
        })

        search_text.value = "";
    })

    li_items.forEach((li_item) => {
        li_item.addEventListener("click", () => {
            var page = "dashboard.html";
            $('.main_container').load(page);
        })
    })
</script>
{% endblock %}
