{% extends 'navigation.html' %}

{% block title %} Settings {% endblock %}

{% block content %}
    <div class="options">
        <div class="datasource">
            <span>Datasource url : </span>
            {% if datasource %}
                <input id="datasource_url"type="text"
                         value="{{ datasource.url }}">
            {% else %}
                <input id="datasource_url"type="text">
            {% endif %}
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script>
        var datasource_url_input = document.getElementById("datasource_url");
        datasource_url_input.addEventListener("keyup", function(event) {
            // Number 13 is the "Enter" key on the keyboard
            if (event.keyCode === 13) {
                // Cancel the default action, if needed
                event.preventDefault();
    
                var d_url = datasource_url_input.value.trim();
                $.ajax({
                    type: "POST",
                    url: "/api/updateDatasource",
                    data: {
                        datasource_url: d_url
                    },
                    success: function (rows_conf) {
                        alert("updated");
                    },
                    error: function (e) {
                        alert("error");
                    },
                });
            }
        }); 
    </script>
{% endblock %}