:root {
    --bg: #1f3d55;
    --btn: #33648d;
    --btnHover: #4b97d4;
    --btnSelected: #4bd4a6;

    /* --rowHeader: #1f3d55; */
    --rowHeader: #1d374e;

    --error-fg: rgba(255, 0, 0, 0.342);
}