@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;600&display=swap');

:root {
    --bg: white;
    --err: rgb(255, 128, 128);

    --nav-bg: #1f3d55;
    --nav-fg: #33648d;
    --nav-hover: #4b97d4;
    --nav-selected: #4bd4a6;     
    --nav-border: #4b96d42c;

    --content-bg: #1f3d55; 

    --search_border: var(--nav-border);
    --search_fg: var(--nav-fg);
    --search_hover: var(--nav-hover);

    --dashboard_fg: var(--nav-fg);
}

* {
    font-family: 'Baloo Tamma 2', cursive;
    margin: 0;
    padding: 0;
    /* padding and border are included in the width and height: */
    box-sizing: border-box;
    /* no list marker */
    list-style: none;
    text-decoration: none;
}

body {
    background: var(--bg);
}

.content {
    position: fixed;
    margin-top: 40px;
    width: 100%;
    height: 100%;
    background: var(--content-bg);
}

/* NAVBAR */
nav {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background: var(--nav-bg);
    border-bottom: 1px solid var(--nav-border);
    z-index: 1;
}

nav a {
    margin: 5px 5px;
}

.nav_button {
    color: var(--nav-fg);
}

.nav_button:hover {
    color: var(--nav-hover);
}

.nav_button_selected {
    color: var(--nav-selected);
}


/* SEARCH */

.search_bar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--search_fg);
}

.search_bar .icon {
    margin: 0px 2px;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    font-size: 12px;
}

.search_bar .icon:hover {
    color: var(--search_hover);
}

.search_bar input {
    width: 100px;
    border-bottom: 1px solid var(--search_border);
    border-top: none;
    border-left: none;
    border-right: none;
    background: inherit;
    line-height: 12px;
    height: 12px;
    color: var(--search_fg);
}

.search_bar input:focus {
    outline: none;
}

.search_content {
    font-size: 12px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: scroll;
    color: var(--search_fg);
}

.search_content li {
    cursor: pointer;
    width: 126px;
    color: var(--search_fg);
}

.search_content li:hover {
    color: var(--search_hover);
}

.search_content li a {
    color: inherit;
}


/* CREATE DASHBOARDS */

.create_content {
    display: flex;
    justify-content: center;
}

.create_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create_wrapper span {
    display: none;
    color: var(--err);
}

/* DASHBOARD */

.dashboard_navbar {
    display: flex;
    justify-content: space-between;
    color: var(--dashboard_fg);
    padding: 0px 10px;
    border-bottom: 1px solid var(--nav-border);
    z-index: 1;
}

.icon_btn {
    color: var(--dashboard_fg);
    cursor: pointer;
}

.icon_btn:hover {
    color: var(--nav-hover);
}

.chart {
    background: rgba(255, 255, 255, 0.555);
    margin: 1px;
}

/* CHART */

.chart_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.chart_name {
    color: var(--nav-fg);
}

.chart_conf_nav {
    display: flex;
    position: relative;
    color: var(--nav-fg);
    background: var(--nav-bg);
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 80px;
}

.chart_conf_nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.chart_conf_nav ul li {
    padding: 12px 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.5s ease;
    cursor: pointer;
}


.chartconf_nav_li {
    color: var(--settings-nav-li)
}

.chartconf_nav_li:hover {
    color: var(--nav-hover)
}

.chartconf_nav_li_selected {
    color: var(--nav-selected)
}

.chart_conf_content {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.options_wrapper {
    display: flex;
    flex-direction: column;

}